@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@* Hero section Start *@

<section class="hero text-center">
    <div class="container hero-content d-flex flex-column align-items-center">
        <span class="text-white">we all love</span>
        <h1 class="fw-bolder text-white">Nature</h1>
        <p class="text-white">Look deep into nature, and you will understand everything better. Look deep into nature, and you will understand everything better.</p>
        <button class="btn btn-warning w-auto">Get Started</button>
    </div>
</section>

@* Hero section End *@


@* Our Services Start *@
<section class="container our-services padding-y-60">
    <div class="position-relative">
        <h2 class="text-center pb-3 title-underline">Our Services</h2>
    </div>
    <div class="row">               
        <div class="col-md-4 mt-4 ">
            <div class="card border-0 p-3 p-md-2 pe-lg-2">
                <img src="./images/service-1.jpg" class="card-img-top" alt="Web Design Services">
                <div class="card-body p-0">
                    <h5 class="card-title">Web Design</h5>
                    <p class="card-text">Focus on how you can help and benefit your user. Use simple words so that you don't confuse people</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-4 ">
            <div class="card border-0 p-3 p-md-2 px-lg-2">
                <img src="./images/service-2.jpg" class="card-img-top" alt="Graphics Design Services">
                <div class="card-body p-0">
                    <h5 class="card-title">Graphics Design</h5>
                    <p class="card-text">Focus on how you can help and benefit your user. Use simple words so that you don't confuse people</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-4 ">
            <div class="card border-0 p-3 p-md-2 ps-lg-2">
                <img src="./images/service-3.jpg" class="card-img-top" alt="Content Creation Services">
                <div class="card-body p-0">
                    <h5 class="card-title">Content Creation</h5>
                    <p class="card-text">Focus on how you can help and benefit your user. Use simple words so that you don't confuse people</p>
                </div>
            </div>
        </div>
    </div>
</section>
@* Our Services end *@



@* Testimonial Start *@
<section class="testimonial bg-light-color padding-y-60 text-center">
    <div class="container">
        <div class="testimonial-content">
            <img class="quote" src="./images/quote.svg" alt="Quote" />
            <p>“Original and with an innate understanding of their customer’s needs, the team at Love Nature are always a pleasure to work with.”</p>
            <div class="client-img d-flex flex-column align-items-center">
                <img src="./images/client.png" alt="Hanna Montenna" />
                <span>Henna Montenna</span>
            </div>
        </div>
    </div>
</section>
@* Testimonial End *@


@* About us Start *@
<section class="about-us padding-y-60">
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <div class="col-md-6">
                <span class="text-uppercase">About us</span>
                <h3 class="mt-4 mb-3">Tell website visitors who you are and why they should choose your business.</h3>
                <p>Because when a visitor first lands on your website, you’re a stranger to them. They have to get to know you in order to want to read your blog posts, subscribe to your email newsletter, or buy what you’re selling.</p>
                <p class="d-md-none d-lg-block">Because when a visitor first lands on your website, you’re a stranger to them. They have to get to know you in order to want to read your blog posts, subscribe to your email newsletter, or buy what you’re selling.</p>
                <p class="d-md-none d-lg-block">Because when a visitor first lands on your website, you’re a stranger to them. They have to get to know you in order to want to read your blog posts, subscribe to your email newsletter, or buy what you’re selling.</p>
                <button class="btn btn-outline-success w-auto mt-4">Find Out More</button>
            </div>
            <div class="col-md-5 mt-4 mt-md-0 d-none d-md-block">
                <img class="img-fluid w-100" src="./images/leaf.jpg" alt="About Us" />
            </div>
        </div>
    </div>
</section>
@* About us End *@


@* Question Contact start *@
<section class="padding-y-60 questions text-center">
    <div class="container">
        <h4 class="display-4 mb-4">QUESTIONS?</h4>
        <p class="mx-auto">Whether you’re curious about features, a free trial, or even press, we’re here to answer any questions.</p>
        @* <button class="btn btn-warning w-auto mt-4">Find Out More</button> *@
        <a class="btn btn-warning w-auto mt-4" target="blank" asp-page="/Contact">Find Out More</a>
    </div>
</section>
@* Question Contact end *@