@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@* Hero section Start *@

<section class="hero text-center">
    <span>we all love</span>
    <h1 class="display-3 fw-bold">Nature</h1>
    <p>Look deep into nature, and you will understand everything better. Look deep into nature, and <br /> you will understand everything better.</p>
</section>

@* Hero section End *@
