* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Lexend Deca", sans-serif;
    font-size: 16px;
}
:root {
    --primary-color: #ffc107;
    --secondary-color: #435d30;
    --bg-color: #f6f8f5;
    --dark-color: #212529;
    --white-color: #FFFFFF;
    --font-size-16: 16px;
    --padding-top-60: 60px;
    --padding-bottom-60: 60px;
    --btn-border-radius: 50px;
}
a {
    text-decoration: none;
}
.bg-light-color {
    background-color: var(--bg-color);
}
p {
    letter-spacing: 0.4px;
    font-size: clamp(1rem, 1rem + 0vw, 1rem);
    font-weight: 300;
}
h1 {
    font-size: 70px;
}
h2 {
    font-size: clamp(1.75rem, 1.6893rem + 0.2589vw, 2rem);
}

h5 {
font-weight: 400;
}
.padding-y-60 {
    padding-top: var(--padding-top-60);
    padding-bottom: var(--padding-bottom-60);
}


.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow:none;
}

/* New nav CSS Start */
.navbar-brand img {
    width: 80px;
}

.navbar-light .navbar-nav .btn {
    color: var(--dark-color) !important;
}
.navbar-light .navbar-nav .nav-link {
    color: var(--secondary-color);
    font-weight: 400;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: var(--primary-color);
}
@media (min-width: 576px) {
    .navbar {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .navbar-collapse {
        flex-basis: 0;
        flex-grow: 0;
    }
    .navbar-nav {
        gap: 30px;
    }
}
.btn {
    padding: 10px 30px;
}
.nav-item .lets-talk {
    background-color: var(--primary-color);
    color: var(--secondary-color) !important;
    border: 1px solid var(--primary-color);
    border-radius: 4px;
    padding: 10px 30px !important;
}
.nav-item .lets-talk:hover {
    background-color: transparent !important;
    color: var(--primary-color) !important;
    border: 1px solid var(--primary-color);
}
.navbar-toggler:focus {
    box-shadow: none;
}
.navbar-toggler {
    border: 0;
}
/* New nav CSS End */
/* Hero section CSS Start */
.hero {
    min-height: 655px;
    background: url(../images/header-hero.jpg) no-repeat center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.hero .btn {
    padding: 10px 40px !important;
}
.hero .btn  {
    color: var(--dark-color);
}
.hero .btn .btn-warning:hover {
    background-color: transparent;
    color: var(--primary-color);
}
.hero-content {
    gap: 20px;
}
/* Hero section CSS End */


/* Our Services Start */
.our-services h2 {
    color: var(--secondary-color);
}
.our-services .card {
    gap: 20px;
}
.title-underline::after {
    position: absolute;
    content: "";
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    height: 3px;
    width: 110px;
    background-color: var(--primary-color);
}
/* Our Services End */

/* Testimonial Start  */
.testimonial-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}
.testimonial-content .quote {
    height: 40px;
    width: 40px;
}
.testimonial-content p{
    font-size: 26px;
    width: 60%;
    margin: 0 auto;
}
@media (max-width: 768px) {
    .testimonial-content p {
        width: 100%;
    }
}
@media (max-width: 1024px) {
    .testimonial-content p {
        width: 70%;
    }
}
.testimonial-content .client-img {
    gap: 10px;
}
.testimonial-content .client-img img {
    height: 50px;
    width: 50px;
}
.testimonial-content .client-img span {
    font-size: 14px;
    font-weight: 300;
}
/* Testimonial End  */


/* About Us Start */
.about-us span {
    font-size: 14px;
    color: var(--dark-color);
}
.about-us h3 {
    font-size: clamp(2rem, 1.8786rem + 0.5178vw, 2.5rem);
    color: var(--secondary-color);
}
/* About Us End */


/* Questions Start */
.questions {
    background: url(../images/footer-hero-big.jpg) no-repeat center;
}
.questions h4 {
    color: var(--secondary-color);
}
@media (min-width: 768px) {
    .questions p {
        width: 60%;
    }
}
/* Questions end*/

/* Footer Start */
.footer img {
    width: 90px;
}
/* Footer End */